body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(https://i.pinimg.com/originals/d2/7c/cb/d27ccb552e120f485259bd5a9894ae3a.jpg);
  background-size: 100%;
}

#viewport {
  width: 480px;
  background-color: black;
  color: white;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
  overflow: auto;
}

button {
  border: none;
  padding: 10px 25px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 20px;
}

#wrapper {
  width: 640px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#marc {
  width: 480px;
}

.box,
.info {
  background-color: black;
  color: white;
}

#prices {
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-style: italic;
}

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  position: absolute;
  color: white;
  font-weight: bold;
}
