body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(https://i.pinimg.com/originals/d2/7c/cb/d27ccb552e120f485259bd5a9894ae3a.jpg);
  background-size: 100%;
}

#viewport {
  width: 480px;
  background-color: black;
  color: white;
  margin: 100px auto 0 auto;
  position: relative;
  text-align: center;
  overflow: auto;
}

#buttons {
  position: absolute;
  left: 37%;
  top: 20%;
}

#health, .health {
  width: 480px;
  background-color: black;
  color: white;
  margin: 0px auto;
}

.health > img {
  width: 100%;
}

.health > .desc {
  float: left;
}

button {
  border: none;
  padding: 10px 25px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 20px;
}

#message {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  font-style: italic;
}

.box,
.info {
  background-color: black;
  color: white;
}

#prices {
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-style: italic;
}

.disclaimer > a {
  color: #10a1db;
}

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  position: absolute;
  color: white;
  font-weight: bold;
}
